:root {
  --accent: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --primary-white: #ffffff;
  --dark-bg: #2f303a;
  --grey-bg: #f5f4fa;
}

body {
  background-color: var (--primary-white);
  color: var(--primary-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.vis {
  outline: 2px solid tomato;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

img {
  display: block;
}

.head-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  /* align-items: center; */
  /* font-size: 14px; */
}
.head-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.accent {
  color: var(--accent);
}
.nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-contact-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
}

.head-icon {
  fill: currentColor;
  margin-right: 10px;
}
.nav-contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-contact-link:hover,
.nav-contact-link:focus {
  color: var(--accent);
}
