:root {
  --accent: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --primary-white: #ffffff;
  --dark-bg: #2f303a;
  --grey-bg: #f5f4fa;
}

body {
  background-color: var (--primary-white);
  color: var(--primary-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.vis {
  outline: 2px solid tomato;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text);

  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.head-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.accent {
  color: var(--accent);
}

.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.head-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link:hover {
  color: var(--accent);
}
/* END HEADER */

/* START HERO */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg);
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  display: block;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}
.hero-button {
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* END HERo */

/* START FETURES */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text);

  margin-bottom: 10px;
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--grey-bg);
  margin-bottom: 30px;
}

/* END features */

/* WHAT WE DO */
.our-work {
  padding-top: 0;
  padding-bottom: 94px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.works-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
/* END what we do */

/* START OUR TEAM */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--grey-bg);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 30px 32px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--primary-text);
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text);
  margin-top: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  /* width: 44px;
  height: 44px; */
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  fill: #ffffff;
  background-color: var(--accent);
}
/* END of our team */

/* CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
}

.client-icon {
  width: 106px;
  height: 60px;
}

.clients-link:hover {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

/* END OF CLIENTS */

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white);

  display: block;
  margin-bottom: 20px;
}
.footer-accent {
  color: var(--accent);
}
.footer-dest-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}

.footer-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-dest-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.join {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.footer-social {
  margin-top: 20px;
  display: flex;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  fill: var(--primary-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent);
}

.footer-dest-link:focus,
.footer-dest-link:hover {
  color: var(--accent);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent);
}
.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
/* END FOOTER */

/* PORTFOLIO */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white);
}

.buttons-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.button-choose {
  background-color: var(--grey-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);

  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-choose:hover,
.button-choose:focus {
  background-color: var(--accent);
  color: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.examples-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.examples-info {
  padding: 20px 24px;
  background-color: var(--primary-white);
  /* border: 1px solid #eeeeee; */
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text);
  margin-bottom: 4px;
}

.example-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.examples-link {
  display: block;
  /* border: 1px solid #eeeeee; */
  cursor: pointer;
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
